body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1{
    text-align: center;
    font-size: 3.3em;
}
h2{
    font-size: 2.5em;
    border-left: 6px solid black;
    border-top: 4px solid black;
    padding-left: 20px;
    margin-top: 80px;
    width: 90%;
}
h3{
    font-size: 2em;
    border-left: 4px double black;
    border-top: 3px double black;
    padding-left: 15px;
    width: 65%;
    margin-top: 50px;
}
h4{
    font-size: 1.5em;
    border-left: 2px solid black;
    border-top: 1px solid black;
    padding-left: 10px;
    width: 40%;
    margin-top: 30px;
}

table{
    border-collapse: collapse;
    width: 80%;
}

th{
    background-color: #dddddd;
}

th, td{
    border: 1px solid black;
    padding: 7px;
}

pre{
    border: 1px solid black;
    background-color: #eeeeee;
}

p, pre, table, li{
    margin: 10px 10px 15px 30px;
    font-size: 1.2em;
}

a{
    background-color: #eeeeee;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

li{
    padding: 5px;
    margin: 5px;
}