/* GENERAL */
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
header{
    text-align: center;
}
h1{
    opacity: 0.75;
}
main{
    margin: 0 20px;
}
main > header{
    margin-bottom: 100px;
    height: 200px;
    background-color: lightgray;
    border: 1px double black;
    border-radius: 50px;
    padding: 100px 0;
}
main > section > article{
    background-color: lightgray;
    border: 1px double black;
    border-radius: 30px;
    margin-bottom: 50px;
}
main > section > article > header > h1{
    text-align: center;
    font-size: xx-large;
}
span > h2{
    text-align: center;
    font-size: x-large;
}

dt{
    font-weight: bold;
    font-size: x-large;
}
dd{
    line-height: 2em;
    font-style: oblique;
    font-size: larger;
    text-decoration: underline;
}

/* Contenu des chapitres */

.boxes-art{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.boxes-content > span{
    display: flex;
    width: 90%;
    border: 1px solid black;
    margin-left: 3em;
    padding: 10px 0;
}

.boxes-content > span > p{
    margin: 0 10px;
    width: 40%;
    text-align: justify;
    font-size: large;
}